.story-cover {
		background-image: url("https://ig.ft.com/sites/land-rush-investment/myanmar/media/sapienza_new-hr_f0hbatq.jpg");
	}

.section-1 {
	.section-cover {
		background-image: url("https://ig.ft.com/sites/land-rush-investment/myanmar/media/2560_flowers_blinkie-mr.jpg");
	}
}
.section-2 
	.section-cover {
		background-image: url("https://ig.ft.com/sites/land-rush-investment/myanmar/media/2560_getty_-factory-in-yangon-lr.jpg");
	}

.section-3 
	.section-cover {
		background-image: url("https://ig.ft.com/sites/land-rush-investment/myanmar/media/2560_beach_football_backup-mr_4rt5h4b.jpg");}

.section-4 
	.section-cover {
		background-image: url("../images/conflict-mr.jpg");}

.section-5
	.section-cover {
		background-image: url("../images/this_famer_2-mr.jpg");}



.story-footer {
	background-image: url("../images/conflict-mr.jpg");
}
.credits {
		background-image: url("https://ig.ft.com/sites/land-rush-investment/myanmar/media/boat-blinkie-backup-mr.jpg");
	}